<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Mercado Liebre </title>
    
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/c91d94187c.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <div class="top">
            <div class="cont-logo"><a href="home"><img class="logo" src='images\logo-mercado-liebre.svg'> </a>
             </div>
            
            <div class="search-bar">
            <input type="text" class="search" action="GET" placeholder="Buscar productos,marcas">
            <div class="fas fa-search"></div>
            </div>
            <div class='nav'><i class="fas fa-hand-holding-usd"></i>
                Compra en cuotas y sin tarjeta de creditos
            </div>
            </div> <!---- Cierre TOP --->
        <div class="top2">
            <ul class="nav1">
            <li>Ofertas</li>
            <li>Tiendas Oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
            </ul>
            <ul class="nav2">
            <a href="register"><li>Crea tu cuenta <i class="far fa-address-card"></i> </li></a>  
            <a href="login"><li>Ingresa <i class="fas fa-sign-in-alt"></i></li></a> 
            <li>Mis compras <i class="fas fa-shopping-basket"></i></li> 
            </ul>
        </div>                                          
        <div class="burger-menu">  <!-- Menu HAMBURGUESA -->
        <i class="fas fa-bars"></i><!-- Menu HAMBURGUESA -->            
        </div>
    </header>                                   <!-- Cierre HEADER-->
    <img class="banner"src='images\img-home-banner.jpg'>      <!-- BANNER -->

    <main class="products">
        <h3>Basado en tu ultima visita</h3>
        <section class="section-visit">
            
        <div class="article">
            <img src="images\img-cafetera-moulinex.jpg">
                <div class="articleBox">
                    <i class="fas fa-truck"></i>
                    <div class="precioOff">
                        <span class="precio">$6.770</span>
                        <span class="off">40% OFF</span>                        
                     </div>
                     <div>
                     <div class="product-name">Cafetera Moulinex</div>
                    </div>
                    </div>
             
                </div>
            
        <div class="article">                
            <img src="images\img-macbook-pro-2019.jpg">
            <div class="articleBox">
                <i class="fas fa-truck"></i>
                <div class="precioOff">
                <div class="precio">$230.000</div>
                <div class="off">20% OFF</div>
                </div>
                <div class="product-name">MacBook Pro 2019</div>
            </div>
            </div>

        <div class="article">
            <img src="images\img-samsung-galaxy-s10.jpg">
            <div class="articleBox">
                <i class="fas fa-truck"></i>
                <div class="precioOff">
                <span class="precio">$70.500</span>
                <span class="off">10% OFF</span>
            </div>
                <div class="product-name">Samsung GalaxyS10</div>
            </div>
            </div>

        <div class="article">
            <img src="images\img-tv-samsung-smart.jpg">
            <div class="articleBox">
                <i class="fas fa-truck"></i>
                <div class="precioOff">
                    <span class="precio">$23.200</span>
                    <span class="off">5% OFF</span>
                </div>
                <div class="product-name">Smart Tv Samsung</div>
            </div>
            </div>          
        </section> <!-- Cierre SECTION VISIT -->
        <h3>Ofertas</h3>
        <section class="section-off">
            
        <div class="article">
            <img src="images\img-cafetera-moulinex.jpg">
            <div class="articleBox">
                <i class="fas fa-truck"></i>
                <div class="precioOff">
                    <span class="precio">$6.770</span>
                    <span class="off">40% OFF</span>
                </div>
                <div class="product-name">Cafetera Moulinex</div>
            </div>
            </div>
        <div class="article">                
            <img src="images\img-macbook-pro-2019.jpg">
            <div class="articleBox">
                <i class="fas fa-truck"></i>
                <div class="precioOff">
                    <span class="precio">$230.000</span>
                    <span class="off">20% OFF</span>
                </div>
                <div class="product-name">MacBokk Pro 2019</div>
            </div>
            </div>
        <div class="article">
            <img src="images\img-samsung-galaxy-s10.jpg">
            <div class="articleBox">
                <i class="fas fa-truck"></i>
                <div class="precioOff">
                <span class="precio">$70.500</span>
            </div>
                <div class="precioOff">
                <span class="off">10% OFF</span>
                </div>
                <div class="product-name">Samsung GalaxyS10</div>
            </div>
            </div>
        <div class="article">
            <img src="images\img-tv-samsung-smart.jpg">
            <div class="articleBox">
                <i class="fas fa-truck"></i>
                <div class="precioOff">
                <span class="precio">$23.200</span>
                <span class="off">5% OFF</span>
            </div>
                <div class="product-name">Smart Tv Samsung</div>
            </div>
            </div>
        </section>  <!-- Cierre SECTION OFF -->
    </main> <!-- Cierre PRODUCTS -->




     <footer>
        <section>
                <ul>
                    <i class="fas fa-credit-card"></i>
                    <li><strong>Paga con tarjeta o en efectivo</strong></li>
                    <p>Con Mercado Liebre Cash, tenes cuotas sin interes  con tarjeta o efectivo en puntos de pago. Y siempre es seguro!</p>
                    <i class="fas fa-gift"></i>
                    <li><strong>Envio gratis desde $2500</strong></li>
                    <p>Solo por estar registrad@ en Mercado Liebre tenes envios gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                    <i class="fas fa-user-shield"></i>
                    <li><strong>Seguridad, de principio a fin</strong></li>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre no hay nada que no puedas hacer porque estas siempre protegid@</p>
                    <p>Copyright © 1999-2020 MercadoLiebre S.R.L</p>
                </ul>
         </section>
        </footer>
    
    
    
</body>
</html>