<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Mercado Liebre </title>
    
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/c91d94187c.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <div class="top">
            <div class="cont-logo"><a href="/"><img class="logo" src='images\logo-mercado-liebre.svg'> </a>
            </div>
            
            <div class="search-bar">
            <input type="text" class="search" action="GET" placeholder="Buscar productos,marcas">
            <div class="fas fa-search"></div>
            </div>
            <div class='nav'><i class="fas fa-hand-holding-usd"></i>
                Compra en cuotas y sin tarjeta de creditos
            </div>
            </div> <!---- Cierre TOP --->
        <div class="top2">
            <ul class="nav1">
            <li>Ofertas</li>
            <li>Tiendas Oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
            </ul>
            <ul class="nav2">
            <a href="register"><li>Crea tu cuenta <i class="far fa-address-card"></i> </li></a>  
            <a href="login"><li>Ingresa <i class="fas fa-sign-in-alt"></i></li></a> 
            <li>Mis compras <i class="fas fa-shopping-basket"></i></li> 
            </ul>
        </div>                                          
        <div class="burger-menu">  <!-- Menu HAMBURGUESA -->
        <i class="fas fa-bars"></i><!-- Menu HAMBURGUESA -->            
        </div>
    </header>
                                      <!-- Cierre HEADER-->
    <img class="banner"src='images\img-home-banner.jpg'> 
     

    <form class='formulario-user' action="/" method="POST">
        <div class="items-user">
            <label>Nombre de usari@:</label>
            <input class="input-user" type="text" name="user" required  required minlength="3">
        </div>

        <div  class="items-user">
            <label>Contraseña:</label>
            <input class="input-user" type="password" name="password"  required  required minlength="3"> 
        </div>
        <div class="content-btn">
            <a href="home">
            <button class="btn-user" type="submit"> Enviar </button>
            </a>
        </div>


    </form>

    <footer>
        <section class="footer-section">
                
                    <div class="footer-i-p">
                        <i class="fas fa-credit-card"></i>
                        <strong>Paga con tarjeta o en efectivo</strong>
                        <p>Con Mercado Liebre Cash, tenes cuotas sin interes  con tarjeta o efectivo en puntos de pago. Y siempre es seguro!</p>
                    </div>
                    <div class="footer-i-p">
                        <i class="fas fa-gift"></i>
                        <strong>Envio gratis desde $2500</strong>
                        <p>Solo por estar registrad@ en Mercado Liebre tenes envios gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                    </div>
                                      
                    <div class="footer-i-p">
                        <i class="fas fa-user-shield"></i>  
                        <strong>Seguridad, de principio a fin</strong>
                        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre no hay nada que no puedas hacer porque estas siempre protegid@</p>
                    </div>

                    <div class="item-footer">
                        <p>Copyright © 1999-2020 MercadoLiebre S.R.L</p>
                    </div>
                
         </section>
        </footer>
    
</body>