/*
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
color-btn:#0022AA; */

*{
    box-sizing: border-box;
    margin: 0px auto;  

}

body{
    font-family: 'Roboto', sans-serif;
    font-size:12px;
    background-color: #ebebeb;
    width: 100%vh;
}

header{    
    background-color:#EAC926;
    border-bottom: 1px solid;
        position: fixed;
        top: 0;
        z-index: 100;
}

.top{
    display: flex;
    padding: 5%;
    flex-wrap: wrap;
    align-items: center;
}

.nav{
    text-align: center;
    margin: auto;
}

i,.fa-search{
    font-size:2em;
    margin-bottom: 10px;
}


.cont-logo{
    width:50%;
}

.logo{
    width: 100%;
    
}

.search-bar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    background-color:#ffff;
    padding:.5rem;
    
    
}
.search{
    width:100%;
    margin: 0 2px;
    border: none;
    outline: none;
}

ul{
    list-style: none;
    padding-left: 0;
}

.top2{
    display: flex;
}

.burger-menu{ 
    text-align: center;
    background-color: #1259c3;
    margin:auto;
    width: 40px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 5px;

}

.burger-menu i{
    margin-top: 10px;
    color: #ebebeb;
    font-size: 2em;
    margin-bottom: 10px;

}

.banner{
    margin-top:170px;
}

.products{
    width: 90%;
    margin: auto;
    text-align: center;
}

.article{
background-color: #ffff;
margin-bottom:10px;

}

.articleBox{
    border-top: 1px solid #ebebeb;
    padding: 15px;
    position: relative;

}

.precioOff{
    display: flex;
flex-grow: 0.1;
align-items: first baseline;
flex-shrink: 0.1;
}
.precio{
    font-size: 18px;
    width:30%;
}

.off{
    font-size: 16px;
    color:#39b54a;
    width:70%;
}

.product-name{
    font-size: 16px;
    color:#666;
}

.p{
    font-size: 16px;
}

h3{
    font-size:24px;
    color:#666;
    margin: 25px;
    text-align: initial;

}


.footer-section{     
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 10px;

}

.footer-i-p{
    display: flex;
    flex-direction: column;

}

.item-footer{
    display: block;
}

section ul{
padding-left: 0;
}


footer i{
    color:#03264C;
    font-size: 2em;
    margin-bottom:10px;
}



img{
    display: block;
    max-width: 100%;
  }


i.fa-truck{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color: #39b54a;
    transition:900ms;
 
}

.fa-truck:hover{
    transform: rotateZ(-90deg);
}



.product-name{
    display: none;
}

.fa-credit-card:hover,.fa-gift:hover,.fa-user-shield:hover{
    color: blue;
}



   
}


.article:hover{
   box-shadow: 0px 0px 10px rgb(100, 100, 100);

}

.article:hover .product-name{
    display: block;
}

/* ----------- HOME ------------ */

.formulario{
    display: flex;
    flex-direction: column;
    width:90vw;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    margin-bottom:10%;
  
}

.items{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 16px;
    font:bold;
    
}

.items-input{
    text-align: center;
    width:300px;
    border-radius: 2px;
    border: none;
    outline: none;
    
}
.items-input:focus{
    border: 1px solid blue;
    border-color:blue;
    border-radius: 5px;
}

.items-input:hover{
    border: 1px solid blue;
    border-color:blue;
}

.chekbox{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: justify;
}

.chek-perfil{
    margin-left: 20px;
}

.file{
    margin-top: 10px;
    margin-bottom: 20px;
}

.chek-cate{
    margin-top:5px;
}
.select-perfil{
    text-align: center;
}

.cont-btn-send{
    text-align: center;
    width:50vw;

}

.cont-btn-reset{
    text-align: center;
    width: 50vw;
}

.btn-send{
    width: 50%;
    margin-top:20px;
    font-size:20px;    
    background-color: #1259c3;
    color: #ebebeb;
    border-radius: 2px;
}
.btn-send:hover{
    background-color:#0022AA;
}

.btn-reset{
    width: 30%;
    margin-top:20px;
    font-size:20px;
    background-color: #1259c3;
    color: #ebebeb;
}
.btn-reset:hover{
    background-color:red;
}

/* ----------- REGISTER ------------ */

.formulario-user{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin:20px;
    margin-bottom:10%;    
}

.items-user{
width:90%;
margin-top: 20px;
font-size:16px;
}

.input-user{
width: 90%;
text-align: center;
}

.content-btn{
    width: 100%;
}

.btn-user{
    margin-top:20px;
    font-size:16px;
    width: 80%;
    height: 100%;
    background-color: #1259c3;
    border-radius: 3px;
    border: none;
    outline: none;
    color: #ebebeb;
}

.btn-user:hover{
    background-color:#0022AA;
}




@media(min-width:350px){
    .nav1,.nav2{
        display:none;
    }
    .product-name{
        display: none;
    }
    .formulario{
        margin: top 18px;
    }

}

@media(min-width:434px){
    header{
        position: static;
    }
    .banner{
        margin-top:0px
    }
    .formulario{
        margin-top:0;
    }

   
}
@media(min-width:769px){
    .nav1,.nav2{
        display: flex;
        flex-grow: .2;
        width: 30%;
    }
    .nav1{
        align-items: center;
    }
    .burger-menu i,.burger-menu{
        display: none;
    }
    .top{
        flex-wrap:unset;
    }
    .article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        flex-basis: 40%;
    }
    .product-name{
        display:flex;
    }
    .section-visit,.section-off{
        display: flex;
        flex-wrap: wrap;
    }

    
    header{
        position:static;
    }
}


@media(min-width:1000px){
    .formulario{
        display: flex;
        flex-direction: column;
        width:50vw;
        box-shadow:none
      
    }

    .footer-section{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer-i-p{

        flex-basis: 30%;
    }
}